.list {
  list-style: none;  
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;

  .card {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--white);
    padding: 1.25rem;
    border: 1px solid var(--gray-100);
    border-radius: 1.25rem;

    img {
      width: 6rem;
      height: 6rem;
      border-radius: 1rem;
      object-fit: cover;
    }

    .details {
      flex: 1;
      margin-left: 1rem;
      flex-direction: column;
      a {
        display: block;
        font-size: 1rem;
        font-family: Lexend, sans-serif;
        font-weight: 600;
        text-decoration: none;
        line-height: 1.4rem;
        color: var(--gray-800);

        &:hover {
          text-decoration: underline;
        }
      }

      p {
        font-size: 0.875rem;
        margin-top: 0.5rem;
        max-width: 70%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      span {
        display: inline-block;
        margin-top: 0.5rem;
        font-size: 0.875rem;

        &:last-child {
          margin-left: 0.5rem;
          padding-left: 0.5rem;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            height: 4px;
            width: 4px;
            border-radius: 2px;
            background-color: #ddd;
            transform: translate(-50%, -50%);
          }
        }
      }

    }
    .playBtn {
      position: absolute;
      right: 2rem;
      bottom: 2rem;

      width: 2.5rem;
      height: 2.5rem;
      background-color: var(--white);
      border: 1px solid var(--gray-100);
      border-radius: 0.675rem;
      font-size: 0;

      transition: filter 0.2s;

      img {
        width: 1.5rem;
        height: 1.5rem;
      }

      &:hover {
        filter: brightness(0.95);
      }
    }
  }
}
